<navbar></navbar>
<router-outlet></router-outlet>
<div class="card text-center"  >
    <div id="foot1" class="card-header" >
        <i class="far fa-copyright"><b> 2019 The NorthCap University</b></i>
    </div>
    <div class="card-body" style=" color: black; background-color: darkgray;">
      <h5 class="card-title">The NorthCap University</h5>
      <p class="card-text"><i class="fas fa-map-marker-alt"> Address: HUDA Sector 23-A Gurugram – 122017</i> <br>

        <i class="fas fa-phone"> Phone: + 91 124 2365811</i></p>
      <a href="https://www.ncuindia.edu/" class="btn btn-primary" style="background-color: blue">ncuindia</a>
    </div>
    
  </div>
