<div class=" p-2 text-center text-white" style="background-color: #A8413D">
		<h3>Contact Us:-</h3>
	  </div>
<div class="leadershp newsdtll" style="margin-top: 5%;">
	<div class="container">
		<div class="row">
<div class="col-md-12 col-sm-12">	
<div class="row">
<div class="col-md-6 col-sm-12">Thank you for your interest in<span> </span><strong>The NorthCap University</strong>. We offer exceptional students the opportunity to work hard and grow personally and professionally in an extraordinary education environment; a place to define your aspirations and prepare to achieve them.</div>
<div class="col-md-6 col-sm-12">
<h4 class="text-color-primary">You may contact us at :</h4>
<ul class="list list-icons list-icons-style-3 mt-0">
<li><i class="fas fa-map-marker-alt"></i> <strong>HUDA Sector 23-A Gurugram &#8211; 122017</strong></li>
<li><i class="fas fa-phone"></i> + 91 124 2365811 + 91 124 2365812 + 91 124 2365813 + 91 124 4195200<br />
+ 91 124 4195292 + 91 124 4195211</li>
<li><i class="fas fa-fax"></i> + 91 124 2367488</li>
<li><i class="far fa-envelope"></i> <a href="mailto:ncu@ncuindia.edu">ncu@ncuindia.edu</a></li>
</ul>
</div>
</div>
<hr />
<div class="table-responsive">
<h4 class="text-color-primary">You may use the Information specific email ids mentioned below, to get a quick response.</h4>
<table class="table table-striped">
<tbody>
<tr>
<td>The NorthCap University &#8211;</td>
<td><a href="mailto:ncu@ncuindia.edu">ncu@ncuindia.edu</a></td>
</tr>
<tr>
<td>For Admission Enquiry &#8211;</td>
<td><a href="mailto:admissions@ncuindia.edu">admissions@ncuindia.edu</a></td>
</tr>
<tr>
<td>Related to the Office of Controller of Records, Controller of Examination, Accounts Office, Dean Office or any other department, can mail their query at  Students facing any unresolved issues  &#8211;</td>
<td><a href="mailto:query@ncuindia.edu">query@ncuindia.edu</a></td>
</tr>
<tr>
<td>Apply for positions at NCU &#8211;</td>
<td><a href="mailto:career@ncuindia.edu">career@ncuindia.edu</a></td>
</tr>
<tr>
<td>Website Related Query &#8211;</td>
<td><a href="mailto:hitankshithukral@ncuindia.edu"> hitankshithukral@ncuindia.edu</a></td>
</tr>
<tr>
<td>Placement Related Query &#8211;</td>
<td><a href="mailto:spa@ncuindia.edu">spa@ncuindia.edu</a></td>
</tr>
<tr>
<td>Alumni Can Contact At &#8211;</td>
<td><a href="mailto:alumni@ncuindia.edu">alumni@ncuindia.edu</a></td>
</tr>
<tr>
<td>For employee grievances send your query to  &#8211;</td>
<td><a href="mailto:grievanceredressal@ncuindia.edu">grievanceredressal@ncuindia.edu</a></td>
</tr>
<tr>
<td>For any grievances regarding gender bias/women safety/harassment issues,send your query to &#8211;</td>
<td><a href="mailto:womencell@ncuindia.edu">womencell@ncuindia.edu</a></td>
</tr>
</tbody>
</table>
</div>

